@import "./fragments/component/catalog/index.scss";
@import "./fragments/user/catalog/index.scss";
@import "./fragments/company/catalog/index.scss";
@import "./fragments/standard/catalog/index.scss";

body {
  background-color: #fafafa;
}

.flex_warp {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  // position: absolute;
  margin-left: 10px;
  // top: .2vh;
  // z-index: -1;
}

// .logo-full{}

.logo-bookmark {
  top: -2vh;
}

.navbar {
  background-color: #fafafa;
}

.navbar-item > .button {
  margin-bottom: 0;
}

.navbar-item > .button:first-child {
  margin-right: 12px;
}

.side-menu {
  // width: 14em;
  position: sticky;
  width: 3em;
  height: auto;
  font-size: 1em;
  line-height: 2em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  /* position: absolute; */
  top: 20px;
  bottom: 0;
  left: -10em;
}
.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 2px solid #1872f0;
}

.side-menu ul li {
  flex: none;
  width: max-content;
  display: block;
  background-color: transparent;
  padding: 0.5em 0.8em;
  position: relative;
  transition: all ease 0.5s;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  border: 1px solid #eee;
  // box-shadow: 4px -1px 3px #ddd;
  // margin-bottom: 3px;
}

.side-menu ul li a span {
  transition: max-width ease 0.3s, opacity ease-out 0.4s,
    margin-right ease-in-out 0.2s;
}

.side-menu .active i {
  color: #1872f0;
}

/*the colors of the different columns*/
// .side-menu ul li:nth-child(1) {
//   background-color: rgba(0, 172, 237, 0.8);
// }
// .side-menu ul li:nth-child(2) {
//   background-color: rgba(59, 89, 152, 0.8);
// }
// .side-menu ul li:nth-child(3) {
//   background-color: rgba(0, 163, 0, 0.8);
// }
// .side-menu ul li:nth-child(4) {
//   background-color: rgba(30, 113, 69, 0.8);
// }
// .side-menu ul li:nth-child(5) {
//   background-color: rgba(255, 196, 13, 0.8);
// }
// .side-menu ul li:nth-child(6) {
//   background-color: rgba(203, 32, 39, 0.8);
// }

.side-menu ul li:hover {
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}

.side-menu .active {
  // background-color: #339966!important;
  border-radius: 0 8px 8px 0 !important;
}

.side-menu ul li a span,
.side-menu ul li a div {
  max-width: 0;
  max-height: 2em;
  opacity: 0;
  overflow: hidden;
  margin-right: 0;
  display: inline-flex;
}

// .side-menu .extend a span {
//   opacity: 1 !important;
//   overflow: hidden !important;
//   text-overflow: ellipsis !important;
//   white-space: nowrap !important;
//   max-height: 20em !important;
//   max-width: 20em !important;
//   margin-right: 10px !important;
// }

.side-menu ul li:hover a span,
.side-menu ul li:hover a div:not([hidden="hidden"]) {
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 20em;
  max-width: 20em;
  margin-right: 10px;
}

.side-menu ul li:hover a div span {
  margin-right: 0;
}

.side-menu ul li a {
  display: inline-flex;
  // color: #fff;
  color: #eee;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.side-menu ul li span {
  color: #4a4a4a;
}
.iconBox {
  width: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentListItem {
  figure {
    display: inline-flex;
    img {
      display: block;
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }
}

.profileBox {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  // padding: 0 6%;
  .boxItem {
    margin-right: 10px;
  }
}

.file.is-boxed.has-name .file-name {
  border-radius: 4px;
  border-width: 1px;
}

.set_none {
  display: none;
}

.show-img-box {
  width: auto !important;
  display: inline-flex;
  align-items: center;
  margin: 20px;
}

.showImg {
  $bigHW: 200px;
  $smallHW: 42px;

  display: flex;

  .outBox {
    width: 62px;
    height: 100%;
    overflow: hidden;
  }

  .modal-content {
    img {
      object-fit: contain;
    }
  }

  .mainImgBox {
    width: $bigHW;
    height: $bigHW;
    display: inline-flex;
    margin-left: 20px;
  }
  .mainImgBox img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  .itemBox {
    height: $bigHW;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 50px;
    box-sizing: content-box;
  }
  .itemBox .item {
    width: $smallHW;
    height: $smallHW;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid transparent;
    margin-bottom: 6px;
    cursor: pointer;
  }
  .itemBox .item.active {
    // border: 1px solid rgb(47, 144, 255);
    // background: #ddd;
    border: 2px solid #1872f0;
    border-radius: 8px;
  }
  .itemBox .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #eee;
  }
}

.imgBox {
  // width: 240px;
  // height: 240px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  .image {
    display: inline-flex;
    justify-content: center;
  }
}

.notification.custom-notif {
  position: fixed;
  z-index: 70;
  top: 1.5rem;
  right: 1.5rem;
  left: 1.5rem;
}

.hide-after {
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width:0;
    height:0;
    z-index: -1;
    overflow:hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width:0;
    height:0;
    z-index: -1;
    visibility:hidden;
  }
}

.footer {
  background-color: #fff;
  // padding: 1rem 1.5rem 1rem;
  margin-top: 1.5rem;
}

scene-hull {
  position: relative;
}

.text-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clipboardBox{
  display: flex;
  width: 100%;
  border-radius: 99px;
  justify-content: space-between;
  align-items: center;

  .inputBox{
    flex: none;
    width: 70%;
  }

  @media screen and (max-width: 420px) {
    flex-direction: column;
    .inputBox{
      width: 100%;
      margin-bottom: 12px;
    }
  }

  .copyIcon{
    margin-left: 6px;
  }
}

.is-absolute {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#component-dropdown-menu {
  width: 100%;
}

.search-button {
  border-radius:0 4px 4px 0!important;
}

.card-relate-data{
  flex:1;
  margin: 0.33rem;
}

.select-title{
  margin-top: .3em;
}

.modal-content.box {
  width: auto;
}

.pagination-smart{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:flex-end;
  margin-bottom: 0.5em;
  .input {
    width: max-content;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }
  .select {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }
  .ps-next {
    transform: rotate(90deg);
  }
  .ps-prev {
    transform: rotate(270deg);
  }
  .ps-first {
    transform: rotate(180deg);
  }
}

.right-side {
  position: absolute;
  right: 1em;
}